@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Britanic";
    src: url('/fonts/BRITANIC.TTF') format("truetype"), local('Optima');
    font-display: fallback;
}

body {
    /* background-image: url('lib/assets/penlight-bg.jpg'); */
    font-family: "Britanic", Optima, sans-serif;
    /* color: white !important; */
}
